[Unit]
Description=Mihomo daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/bin/mihomo

[Install]
WantedBy=default.target
