alias dotfiles='git --git-dir="$HOME/.local/share/dotfiles" --work-tree="$HOME"'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias rm='rm -v'
alias mv='mv -v -i'
alias cp='cp -v -i'

alias ls='ls --color'
alias grep='grep --color'
alias ip='ip -color'

alias lc='ls -C -v --group-directories-first'
alias ll='lc -l -h'
alias la='ll -A'
